$pills: 3;

.pill{
	margin: 0 !important;
	width: (100%/$pills);
}



.tab-panel {
	min-width: 310px;
	margin-top: 30px;
	overflow: hidden;

}

.input-group {
	disabled: true;
}

.container-fluid>div{
	margin-top: 1em;
}

.user:hover {
	    background-color: rgba(212, 232, 234, 0.2);
}

.user__img {
	height: 3em;
	width: 3em;
}

.user__name {
		left: 1em;
		position: relative;
		font-family: roboto;
}

.user_info {
	position: absolute;
	left: 6em;
	top: 4.5em;
	font-size: .65em;
}

.user__status {
	position: absolute;
	right: 1em;
	top: 1.5em;
}